name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10' # МЕНЯЕМ НА 3.10

      - name: Install Build Tools
        run: |
          pip install --upgrade pip setuptools wheel
          pip install flet==0.23.2 supabase

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          channel: 'stable'

      - name: Flet Build APK
        run: |
          # Принудительная очистка перед запуском
          rm -rf build
          flet build apk --verbose

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: pobit-shifr-app
          path: build/apk/*.apk
