name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0' # Стабильная версия для Flet 0.21.0
          channel: 'stable'

      - name: Install Flet CLI
        run: |
          pip install flet==0.21.2

      - name: Flet Build APK
        run: |
          # Добавляем флаг --icon с указанием твоего файла
          flet build apk --verbose --icon icon.png


      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my-crypto-app
          path: build/apk/*.apk
