name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Flet
        run: |
          pip install flet

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          # Указываем версию, которую просит лог (3.38.7)
          flutter-version: '3.38.7' 
          channel: 'stable'

      - name: Flet Build APK
        run: |
          # Добавляем --yes, чтобы пропустить все вопросы (y/n)
          flet build apk --verbose --yes


      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my-crypto-app
          path: build/apk/*.apk
